.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000000;
  height: 100vh;

  & img {
    border-radius: 500px;
  }

  & p {
    width: 500px;
    font-family: Muli;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    margin-top: 2em;

    @include for-phone-only {
      width: 100%;
    }
  }
}

// About page
// .about--page__container{
// }

// .about--ux--image {
//   width: 100%;
// }

.about--cta__p {
  & a {
    color: #d61d4e;
  }
}
