.blog--card__container {
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: var(--g-temp-col-3);

  @include for-phone-only {
    grid-row-gap: 2rem;
    grid-column-gap: 0;
    grid-template-columns: var(--g-temp-col-1);
  }

  .blog-card {
    background: linear-gradient(180deg, #2c2c54 0%, #fc5c65 100%);
    color: #fff;
    box-shadow: 0 16px 48px #e3e7eb;
    mix-blend-mode: multiply;
    padding: 32px 24px;
    border-radius: 20px;

    & a {
      color: #fff;
    }
  }
}

.innerHTML--container {
  @include for-phone-only {
    padding: 32px 24px;
  }
}
