@import "../reset";

.works {
  background: rgba(212, 223, 236, 0.2);
  height: auto;
  margin-bottom: 25vh;

  .works--title--h2 {
    font-weight: 800;
    font-size: 3vw;
    color: #3f3d56;

    @include for-phone-only {
      font-size: 10vw;
      text-align: center;
    }
  }

  .works__container {
    margin-bottom: 15vh;
    display: grid;
    grid-column-gap: 2rem;
    grid-row-gap: 4rem;
    height: auto;
    grid-template-columns: var(--g-temp-col-3);

    @include for-phone-only {
      grid-template-columns: var(--g-temp-col-1);
      grid-row-gap: 2rem;
      grid-column-gap: 0;
    }

    @include for-tablet-portait-only {
      grid-template-columns: var(--g-temp-col-2);
      grid-row-gap: 2rem;
      grid-column-gap: 2rem;
    }

    .works--card {
      width: 437px;
      height: auto;
      box-shadow: 0 16px 48px #e3e7eb;
      border-radius: 20px;
      background: #fff;
      transition: ease-in-out 0.5s;
      user-select: none;
      -webkit-user-drag: none;
      cursor: grab;
      animation: drop 2s ease;

      &:hover {
        box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.1);
      }

      @include for-phone-only {
        width: 100%;
      }

      @include for-tablet-portait-only {
        width: 100%;
      }
    }

    .works--contents__container {
      .works--contents {
        padding: 1em;

        .works__card--icon {
          margin: 24px 0;
          padding: 20px;
        }
      }
      .works--img {
        transition: ease-in-out 0.5s;
        opacity: 2;
        width: 100%;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        background: #111;
        -webkit-user-drag: none;
      }
    }
  }
}
