:root {
  /* Colors */
  --primary-color: #474787;
  --secondary-color: #2c2c54;
  --bg-color: #f4f8f9;
  --off-white: #f1f1f1;
  --semi-secColor: #0e0d2d;
  --red-color: #e2041e;
  --light-blue: #706fd3;

  /* Box Shadows */
  /* 1 to 4 dp elevation */
  --dp-shadow-2: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  --dp-shadow-3: 0 3px 4px 0 rgba(0, 0, 0, 0.14),
    0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  /* 6 to 9 dp elevation*/
  --dp-shadow-9: 0 9px 12px 1px rgba(0, 0, 0, 0.14),
    0 3px 16px 2px rgba(0, 0, 0, 0.12), 0 5px 6px -3px rgba(0, 0, 0, 0.2);
  /* 12 to 24 dp elevation */
  --dp-shadow-16: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  --dp-shadow-24: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);

  /*  */
  --bg-no-repeat: no-repeat;
  --bg-center-X-Y: center center;
  --bg-cover: cover;

  /* Grid Theming */
  --g-temp-col-3: repeat(3, 1fr);
  --g-temp-col-4: repeat(4, 1fr);

  /* Padding */
  --X-Y-padding: 10px 15px;
  --Z-padding: 1em;

  /* Border radius */
  --sm-br: 5px;
  --md-br: 20px;
  --hv-br: 50px;
  --hv-pc-br: 50%;

  /* Button Styles */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat Light";
}

*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  width: 10%;
}

body {
  background: var(--bg-color);
  color: var(--secondary-color);
  position: relative;
  line-height: 2;
  font-weight: 400;
  overflow-x: hidden;
  font-size: calc(14px + 0.25vw);
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--off-white);
  transition: 0.2s;
}

a:hover {
  color: #8709fc;
}

h1,
h2 {
  font-family: "Montserrat ExtraBold";
}

h2 {
  font-size: 4em;
  width: 10vw;
  line-height: 1;
  position: relative;
  left: 15vw;
  top: 1em;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

.wrapper {
  width: 100%;
  max-width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.avatar {
  border-radius: var(--hv-pc-br);
  object-fit: cover;
}

.avatar-150 {
  width: 150px;
  height: 150px;
}

.main {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main"
    "sidebar footer";
  height: 100vh;
}

.sidebar {
  grid-area: sidebar;
  background: var(--semi-secColor);
}

.sidebar--lists {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.footer {
  grid-area: footer;
  background: var(--light-blue);
  color: #f1f1f1;
  width: 100vw;
}

.header {
  grid-area: header;
  width: 100%;
  background: url("../images/Header_bg.png") var(--bg-no-repeat)
    var(--bg-center-X-Y) / var(--bg-cover);
  width: 100%;
  height: 35vh;
  /* margin-bottom: 60vh; */
}

.about--profile {
  display: flex;
  align-items: center;
  margin-left: 2vw;
}

.about__section-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.about--h2 {
  font-size: 4em;
  width: 10vw;
  line-height: 1;
  position: relative;
  left: 15vw;
  top: 1em;
}

.about__card {
  width: 30vw;
  padding: 1em;
  height: 40vh;
  background: var(--off-white);
  box-shadow: var(--dp-shadow-9);
}

/* Services */
.services__container {
  background: url("../images/services_bg.png") var(--bg-no-repeat)
    var(--bg-center-X-Y) / var(--bg-cover);
  /* background-size: 100vw; */
  /* position: relative;
  right: 20vw; */
  width: 100%;
  height: 50vh;
  margin-bottom: 60vh;
}

.services__card-container {
  display: grid;
  /* grid-column-gap: 5px; */
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  top: 10vh;
  right: 5vh;
}

.services--h2 {
  color: #fff;
  /* position: relative;
  bottom: 4em; */
}

.services--card {
  width: 30vw;
  padding: 1em;
  height: 60vh;
  background: var(--off-white);
  box-shadow: var(--dp-shadow-9);
}

/* Works */

.works__card-container {
  display: grid;
  grid-row-gap: 4em;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  right: 5vh;
  margin: 40vh 0 0 0;
}

.works--card {
  width: 30vw;
  padding: 1em;
  height: 50vh;
  background: var(--off-white);
  box-shadow: var(--dp-shadow-9);
}

/* Contact */

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: url("../images/getUser_bg.png") var(--bg-no-repeat)
    var(--bg-center-X-Y) / var(--bg-cover);
  width: 100%;
  height: 50vh;

  margin-bottom: 40vh;
}

.contact--card {
  width: 35vw;
  padding: 1em;
  height: 50vh;
  background: var(--off-white);
  box-shadow: var(--dp-shadow-9);
  position: relative;
  top: 5vh;
  right: 15vh;
}

.blog-card--container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 5vw;
}

.blog-card {
  width: 30vw;
  background: #0e0d2d;
  box-shadow: var(--dp-shadow-9);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 1em;
}

/* .blog-card--container a {
  color: #fff;
} */
