@import "../reset";

.about--container {
  margin-bottom: 15vh;

  .about--text__container {
    margin-top: 25vh;

    @include for-phone-only {
      position: relative;
      z-index: 4;
      color: #fff;
      margin-top: 10vh;
      display: none;
    }

    @include for-tablet-portait-only {
      visibility: hidden;
    }

    .hello--h3 {
      font-weight: 800;
      font-size: 5rem;
    }

    .about--p--bold {
      font-weight: bold;
      font-size: 24px;
    }

    .about--header-p {
      width: 387px;
      font-weight: 300;
      font-size: 24px;
    }
  }

  .about--vector--bg {
    position: absolute;
    right: 0;
    top: 0;
    -webkit-user-drag: none;
    user-drag: none;

    @include for-phone-only {
      width: 100%;
    }
  }

  .about--illust {
    position: absolute;
    right: 0;
    top: 25vh;
    z-index: 2;

    @include for-phone-only {
      width: 100%;
      top: 15vh;
    }
  }

  .about__mac-mobile--content {
    display: none;

    @include for-phone-only {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      top: 38vh;
      margin-bottom: 30vh;

      .mobile-mac--h2 {
        font-size: 7vw;
        text-align: center;
      }

      .mobile-mac--p {
        font-size: 4vw;
        font-weight: 500;
        text-align: center;
        margin-bottom: 2rem;
      }

      .mobile-quote {
        font-weight: 800;
        font-size: 5vw;
      }
    }
  }

  .about__mac--container {
    background: url("../images/about_mac.png") var(--bg-no-repeat)
      var(--bg-center-X-Y) / var(--bg-contain);
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
    z-index: 2;

    @include for-phone-only {
      display: none;
    }

    .about__mac--content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 5em;
      text-align: center;
    }

    .mac--h2 {
      font-weight: 800;
      font-size: 2.5vw;
      margin-top: 15vh;
    }
    .mac--p {
      font-weight: 600;
      font-size: 2vw;

      .quote {
        font-weight: 800;
        font-size: 48px;
      }
    }
  }
}

.about--pictures {
  display: grid;
  // grid-column-gap: 0;
  grid-template-columns: var(--g-temp-col-2);

  @include for-phone-only {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // grid-row-gap: 2rem;
    // grid-template-columns: var(--g-temp-col-1);
    // align-items: center;
    // // justify-content: center;
  }

  .img1 {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    position: relative;
    left: 4rem;

    @include for-phone-only {
      flex: 1;
      left: 0;
    }
  }

  .img3 {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    position: relative;
    top: 10rem;

    @include for-phone-only {
      flex: 1;
      top: 0;
      margin-top: -55vh;
    }
  }

  .img2 {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    position: relative;
    top: 10rem;
    margin-bottom: 21rem;
    @include for-phone-only {
      flex: 1;
      top: 0;
    }
  }

  .img4 {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    position: relative;
    left: 5rem;
    @include for-phone-only {
      flex: 1;
      left: 0;
    }
  }
}
